<html>
<head>
<title>virtix games</title>
<link rel="icon" type="image/png" href="/static/logo.png">
</head>

<h6>made by dafuq223</h6>

<body style="text-align:center;font-family:Arial;">

<img src="/static/logo.png" width="200">

<h1>🎮 Bienvenido a virtix </h1>
<p>Elige un minijuego:</p>

<br>

<a href="/juego1">
<button style="font-size:20px;">Juego 1</button>
</a>

<br><br>

<a href="/juego2">
<button style="font-size:20px;">Juego 2</button>
</a>

<br><br>

<a href="/juego3">
<button style="font-size:20px;">Juego 3</button>
</a>


</body>
</html>